.visit-distillery {
  position: relative;
  width: fit-content;
  margin: 80px auto;
}

body {
  background-color: black;
}

.main-img {
  width: 1000px;
  height: auto;
  display: block;
  border-radius: 4px;
}

/* Smaller floating images */
.overlay-img {
  position: absolute;
  width: 360px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.top-right {
  top: -60px;
  right: -100px;
}

.bottom-left {
  bottom: -40px;
  left: -100px;
}

/* Text and button */
.text-overlay {
  position: absolute;
  bottom: -130px;
  right: 40px;
  color: white;
  text-align: right;
}

.text-overlay h2 {

  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: "jdSerif", "jdSerif Fallback";
}

.overlay-img.top-right {
  width: 573px;
  height: 382px;
}

.overlay-img.bottom-left {
  width: 582px;
  height: 388px;
}

.main-img {
  width: 1252px;
  height: 835px;
}
.explore-btn {
  
  border: 2px solid #fff;
  
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.375rem;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  max-height: 67px;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 9999px;
  border-width: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  place-items: center;
  display: flex;
  background: transparent;
  color: white;
  margin-top: 60px;
  
}

.explore-btn:hover {
  background: #fff;
  color: #000;
}
